Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [8]:
import pandas as pd

orders_pd = pd.read_csv("data04/orders.csv")
orders_pd.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [9]:
orders_pd.describe()

       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000

In [10]:
orders_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB

In [11]:
#1.
orders_pd["order_date"] = pd.to_datetime(orders_pd["order_date"], format="%Y-%m-%d")
orders_pd.dtypes

order_date         datetime64[ns]
pages_visited               int64
order_id                   object
customer_id                object
tshirt_category            object
tshirt_price              float64
tshirt_quantity             int64
dtype: object

In [12]:
#2.
orders_pd["tshirt_category"].value_counts()

Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64

In [13]:
#3.
orders_pd["tshirt_category"] = orders_pd["tshirt_category"].apply(lambda x: x.replace("Wh Tshirt M", "White T-Shirt M"))
orders_pd["tshirt_category"] = orders_pd["tshirt_category"].apply(lambda x: x.replace("Bl Tshirt M", "Black T-Shirt M"))
orders_pd["tshirt_category"] = orders_pd["tshirt_category"].apply(lambda x: x.replace("Wh Tshirt F", "White T-Shirt F"))
orders_pd["tshirt_category"] = orders_pd["tshirt_category"].apply(lambda x: x.replace("Bl Tshirt F", "Black T-Shirt F"))
orders_pd["tshirt_category"].value_counts()

Hoodie             6229
White T-Shirt M    6009
Black T-Shirt M    4831
White T-Shirt F    3825
Black T-Shirt F    3505
Tennis Shirt       2153
Name: tshirt_category, dtype: int64

In [14]:
#4.
def tee_type(cat: str):
    if cat == "Hoodie":
        return "hoodie"
    if cat == "Tennis Shirt":
        return "other"
    return cat.lower().split(" ")[1]


def tee_color(cat: str):
    if cat == "Hoodie" or cat == "Tennis Shirt":
        return None
    return cat.lower().split(" ")[0]


def tee_size(cat: str):
    if cat == "Hoodie" or cat == "Tennis Shirt":
        return None
    return cat.lower().split(" ")[2]

In [15]:
orders_pd["tshirt_type"] = orders_pd["tshirt_category"].apply(lambda x: tee_type(x))
orders_pd["tshirt_color"] = orders_pd["tshirt_category"].apply(lambda x: tee_color(x))
orders_pd["tshirt_size"] = orders_pd["tshirt_category"].apply(lambda x: tee_size(x))
orders_pd.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_color,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,t-shirt,white,m
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,t-shirt,white,m
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,t-shirt,white,f
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,t-shirt,white,f
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,t-shirt,white,m

In [16]:
#5.
start = "2014-12-31"
end = "2016-08-02"
orders_pd.query("order_date > @start and order_date <= @end")

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_color,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,t-shirt,white,m
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,t-shirt,black,f
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3,hoodie,None,None
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,t-shirt,white,m
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1,t-shirt,black,f
...,...,...,...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,Black T-Shirt F,17.5,1,t-shirt,black,f
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,White T-Shirt F,18.0,1,t-shirt,white,f
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Hoodie,23.0,1,hoodie,None,None
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4,t-shirt,white,m
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,t-shirt,white,m

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [17]:
customers_pd = pd.read_csv("data04/customers.csv")
customers_pd.head()

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False

In [18]:
#1.
customers_pd.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [19]:
#2.
customers_pd.shape

(18766, 6)

In [20]:
orders_pd.shape

(26552, 10)

In [22]:
#3.
customers_pd.rename(columns={"customerID": "customer_id"}, inplace=True)
customers_pd.columns

Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [23]:
#4.
"""
Uzyje
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html?highlight=merge#pandas.DataFrame.merge
aby wykonac odpowiednik SQLowego inner joina
"""
customers_orders_pd = pd.merge(
    orders_pd,
    customers_pd,
    how="inner",
    on="customer_id"
)
customers_orders_pd.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_color,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,t-shirt,white,m,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,t-shirt,white,f,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,t-shirt,white,m,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,t-shirt,white,m,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,t-shirt,white,f,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [24]:
customers_orders_pd.to_csv("data04/customers_orders_noindex", index=False)